@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global */
html {
    background-color: white;
    font-size: 10px;
    width: 100%;
    font-family: "Roboto Mono", monospace;
    overflow: hidden;
}

html, body {
    height: auto;
    min-height: 100%;
}

/* Body */
.wrapper {
    height: 100vh;
    overflow-y: overlay;
    overflow-x: hidden;
    perspective: 10px;
    -webkit-font-smoothing: antialiased;
    perspective-origin: bottom center;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

section {
    width: 75%;
    margin-bottom: 5rem;
}

.section-heading {
    text-align: center;
    margin-bottom: 7.5rem;
    h1 {
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
        position: relative;

        &::before, &::after {
            content: "";
            position: absolute;
            bottom: -0.5rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: black;
        }

        &::before {
            border-radius: 0.8rem;
            height: 0.3rem;
            width: 10rem;
        }
    }
}

/* Home */
.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.home-image, .home-logo {
    transform-origin: bottom center;
}

.home-image {
    position: fixed;
    height: 100%;
    width: 100vw;
    object-fit: cover;
    transform: translateZ(-10px) scale(2);
}

.home-logo {
    padding-bottom: 25rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 65%;
    object-fit: cover;
    transform: translateZ(-5px) scale(1.5);
}

/* Services */
.services {
    position: relative;
    background-color: white;
    width: 100%;
    padding-top: 5rem
}

.service {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
}

.service-image {
    flex: 1;
    max-width: 80%;
    order: -1;
    padding-bottom: 1rem;
    img {
        object-fit: cover;
        max-width: 100%;
        &:hover {
            cursor: pointer;
        }
    }
}

.service-description {
    flex: 1;
    width: 70%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
}

/* Modal */
.modal-wrap {
    display: none; /* Hidden by default */
    align-items: center; /* Center vertically*/
    flex-direction: column;
    justify-content: center; /* Center horizontally*/
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    z-index: 9998; /* Sit on top */
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 75vw;
    height: 75vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Footer */
.footer {
    width: 100%;
    text-align: center;
    border-top: 2px solid black;
    padding: 2rem 0;
    position: relative;
    left: 0;
    bottom: 0;
    p {
        font-size: 1.4rem;
    }
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: black;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.up img {
    width: 2rem;
    margin: auto;
}

#width {
    font-size: 2rem;
}

.filter-white {
    filter: invert(98%) sepia(5%) saturate(47%) hue-rotate(210deg) brightness(113%) contrast(100%);
}

// Scrollbar from https://codepen.io/xtrp/pen/QWjREeo
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(115, 138, 144, 0.99);
    }
    70% {
      box-shadow: 0 0 0 2rem rgba(115, 138, 144, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(115, 138, 144, 0);
    }
}


/* Media Queries */

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    }

    .home-logo {
        width: 60%;
    }
    
    .service-image {
        max-width: 70%;
        padding-bottom: unset;
    }

    .service-description {
        font-size: 1.75rem;
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .section-heading {
        h1 {
            font-size: 3.5rem;
        }
    } 

    .container {
        width: 85%;
    }

    .service {
        padding: 5rem 0;
        flex-direction: unset;
    }
    
    .service-image {
        max-width: 50%;
        order: unset;
        padding-bottom: unset;
    }

    .service-description {
        max-width: 35%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 65%;
    }

    .home-logo {
        width: 45%;
    }
    
    .service-image {
        max-width: 45%;
        padding-bottom: unset;
    }

    .service-description {
        font-size: 2rem;
        max-width: 50%;
    }
}