@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
html {
  background-color: white;
  font-size: 10px;
  width: 100%;
  font-family: "Inconsolata", monospace;
  overflow-x: hidden;
}

/* Body */
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Header */
.header {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}
.header img {
  margin-left: 2rem;
  float: left;
  width: 150px;
}
.header img:hover {
  cursor: pointer;
}

/* Navigation Bar */
.nav-bar {
  width: 100%;
  float: right;
  margin-right: 2rem;
}
.nav-bar .nav-list {
  float: right;
  list-style: none;
  height: 100%;
}
.nav-bar .nav-list .nav-link {
  color: black;
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
}
.nav-bar .nav-list .nav-link:hover {
  cursor: pointer;
}
.nav-bar .nav-list .nav-link:hover, .nav-bar .nav-list .nav-link:active {
  color: white;
  text-decoration: underline;
}

.container {
  width: 65%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

section {
  width: 75%;
  padding: 0 0 5rem 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 1rem;
}
.section-heading h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  position: relative;
}
.section-heading h1::before, .section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}
.section-heading h1::before {
  border-radius: 0.8rem;
  height: 0.3rem;
  width: 10rem;
}

/* Home */
.home {
  width: 100%;
  height: 85vh;
}
.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80vh;
  background-image: url(/images/header.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Products */
.products {
  width: 100%;
}

.product {
  display: flex;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

.product-image {
  flex: 1;
  max-width: 25%;
}
.product-image img {
  object-fit: cover;
  max-width: 100%;
}

.product-description {
  flex: 1;
  width: 55%;
  max-width: 55%;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  border-top: 2px solid black;
  padding: 2rem 0;
  position: relative;
}
.footer p {
  font-size: 1.4rem;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: black;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.up i {
  color: white;
  font-size: 2rem;
  margin: auto;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(115, 138, 144, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(115, 138, 144, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(115, 138, 144, 0);
  }
}
/* Media Queries */
@media only screen and (max-width: 1366px) {
  .product {
    flex-direction: column;
  }
  .product-image {
    max-width: 75%;
    order: -1;
  }
}

/*# sourceMappingURL=style.css.map */
